<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Stock & Tweets Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Prediction Card Box -->
  <ion-card color="subheader">
    <ion-card-header>
        <ion-item-divider>
            <ion-label>Prediction</ion-label>
            <ion-icon name="pulse" slot="end"></ion-icon>
          </ion-item-divider>
      <!-- <ion-card-title>Prediction</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <ion-item> Moving Average Prediction: $215 </ion-item>
      <ion-item>Neural Network Prediction: $245</ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Twitter Sentiment Analysis -->
  <ion-card color="subheader" id="pieChart">
    <ion-card-header>
        <ion-item-divider>
            <ion-label>Twitter Sentiment Analysis</ion-label>
            <ion-icon name="stats" slot="end"></ion-icon>
          </ion-item-divider>
      <!-- <ion-card-title>Twitter Sentiment Analysis</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <!-- For Pie Chart -->
      <div style="position: relative;">
        <canvas id="canvas-chart"></canvas>
      </div>

      <!-- For displaying tweets -->
      <div>

      </div>
    </ion-card-content>
  </ion-card>

  <!-- Company Related Tweets -->
  <ion-card color="subheader" id="tweetBox">
      <ion-card-header>
        <ion-item-divider>
          <ion-label>Company Related Tweets</ion-label>
          <ion-icon name="logo-twitter" slot="end"></ion-icon>
        </ion-item-divider>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let tweet of tweets">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ tweet }} </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <!-- <ion-item> {{ tweet }}</ion-item> -->
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>

<!-- Close Button for Modal -->
<ion-footer>
  <ion-button expand="block" fill="solid" (click)="closeModal()">
    Close
  </ion-button>
</ion-footer>