// ion-card {
//     width: 50%;
// }

ion-item-divider {
    background-color: transparent;
    font-size: large;
    color: black;
}

#tweetBox {
    max-height: 300px;
    overflow: scroll;

    ion-card-content {
        ion-card{
            padding: 0%;
            margin: 0%;
        }

    }
}

.list-md {
    padding-top: 2px;
}

