<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Stock & Tweets Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="subheader">
    <ion-card-header>
      <ion-card-title>Prediction</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item> Moving Average Prediction: $215 </ion-item>
      <ion-item>Neural Network Prediction: $245</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="subheader">
    <ion-card-header>
      <ion-card-title>Twitter Sentiment Analysis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- For Pie Chart -->
      <div style="position: relative;">
        <canvas id="canvas-chart"></canvas>
      </div>

      <!-- For displaying tweets -->
      <div>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Close Button for Modal -->
<ion-footer>
  <ion-button expand="block" fill="solid" (click)="closeModal()">
    Close
  </ion-button>
</ion-footer>