<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Stock News
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- 
  NewsDetails: [title, description, sourceName, url];
 -->
<ion-content>
  <ion-list id="newsFeed">
    <ion-item *ngFor="let eachNews of NewsDetails" color="mainheader">
      <ion-card class="welcome-card" color="subheader" [href]="eachNews[3]">
        <ion-card-header>
          <ion-card-title>{{ eachNews[0] }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p> {{ eachNews[1] }}. </p>
          <span>- {{ eachNews[2] }}</span>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


  <ion-list lines="none"  color="mainheader" class="resources">
    <ion-list-header>
      <ion-label>Stock News Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://www.cnbc.com/stocks/" color="subheader">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>CNBC</ion-label>
    </ion-item>
    <ion-item href="https://www.marketwatch.com/" color="subheader">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>Market Watch</ion-label>
    </ion-item>
    <ion-item href="https://www.nasdaq.com/news-and-insights" color="subheader">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>Nasdaq</ion-label>
    </ion-item>
    <ion-item href="https://finance.yahoo.com/" color="subheader">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>Yahoo Finance</ion-label>
    </ion-item>
    <ion-item href="https://www.wsj.com/news/markets/stocks" color="subheader">
      <ion-icon slot="start" color="medium" name="link"></ion-icon>
      <ion-label>The Wall Street Journal</ion-label>
    </ion-item>
  </ion-list>

</ion-content>